.student-container{
    display:flex;
    width:100%;

}

.student-sidebar{
    width:25%;
    min-height:700px;
    background: wheat;
}

.student-sidebar ul li{
    padding:0px 0px;
    margin:0px 0px;
    list-style-type: none;
}

.student-sidebar ul{
    padding:10px 5px;
    margin:20px 0px;
}

.student-action-container{
    width:75%;
}